  @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap');
  *{
    font-family: 'Alegreya', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: #000;
  }
  header{
    position: fixed;;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
    padding: 30px 100px;
  }
  img .nav-logos {
    color: #fff;
  }
  .nav-logos{
    width: 30px;
  }
header .logo
{
position: relative;
color: #fff;
font-weight: 700;
font-size: 2em;
text-decoration: none;
  }
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  header ul li{
    position: relative;
    list-style: none;
    margin-left: 40px;
  }
  header ul li a{
    color: #fff;
text-decoration: none;
  }
